* {
    margin: 0;
    padding: 0;
/*    box-sizing: border-box;*/
}

body {
    /*    background-color: firebrick;*/
}

/* ISO */

#iso {
    background-color: #0099cb;
    padding: 5px 0px;
    position: relative;
}

#iso p {
    font-family: "roboto", sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
}

.social_media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    margin-right: 10%;
}

.social_media a {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-right: 10px;
}


/* Header */

.header_container {
    width: 1024px;
    margin: auto;
    padding: 10px 0px;
    position: relative;
}

.header_container:after {
    content: " ";
    clear: both;
    display: table;
    
}

.logo {
    float: left;
}

.logo img{
    width: 90px;
}

.logo p {
    width: 90px;
    text-align: center;
    font-size: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-top: -0.5%;
}

nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
}

nav ul li:first-child {
    margin-left: 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.call {
    font-family: "roboto", sans-serif;
    margin-right: 0px;
}

.active_nav:after {
    content: " ";
    width: 100%;
    height: 3px;
    background-color: aqua;
    display: block;
}
.row {
    margin: 0 auto;
}

.custom-width {
    max-width: 23.9%;
    height: 240px;
    overflow: hidden;
    padding: 0;

    background-image: url('mission.jpg');
    background-size: 100% 100%;
}

.custom-width img {
    width: 100%;
    height: 82%;
    transition: all 0.3s ease-in-out;
}

.text {
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 100px;
    background-color: rgba(0, 0, 20, 0.5);
}

.text h2{
    font-size:22px;
    margin-bottom: 20px;
}
.custom-width:hover .text {
    transform: translateY(-50px);

}

.custom-width:hover {
    box-shadow: 2px 2px 6px 2px grey;
}

.custom-width:hover img {
    transform: scale(1.1, 1.1);
}


.heading {
    text-align: center;
    margin-bottom: 50px;
}

.block1 {
    width: 30px;
    height: 3px;
    background-color: #CF7401;
    display: inline-block;
    margin-bottom: 10px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-bottom: 9px;
    display: inline-block;
    background-color: #CF7401;
}

.Dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 7px;
    display: inline-block;
    background-color: #CF7401;
}

h1 {
    color: #0099CB;
    display: inline;
    font-size: 30px;
}

h1 span {
    color: #020202;
}

h1:hover {
    color: #020202;
}

h1:hover > .chucks {
    color: #0099CB;
}