/*
body {
    padding-top: 80px;
}
*:focus{
    outline: none;
}
*:active{
    outline: none;
}
.navbar {
    background-color: #2C3E50 !important;
    box-shadow: 0px 4px 8px 2px #2f2f2f3b;
}

.navbar-brand img {
    vertical-align: middle;
    border-style: none;
    width: 25px;
    margin-top: -4px;
    margin-right: 6px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.icons {
    background: url("assets/images/ico/1.png") no-repeat center;
    background-size: cover;
    width: 46px;
    height: 46px;
    margin: 8px 0px 0px -60px;
    position: absolute;
    display: inline-block;
}

.jumbotron {
    background-color: #e2eff3;
    color: #2C3E50;
}

.jumbotron h1 {
    padding-left: 60px;
    font-size: 46px;
    font-weight: 400;
}


@media only screen and (min-width:280px) and (max-width:700px) {
    .jumbotron h1 {
        text-align: center;
    }
    
    .jumbotron p {
        text-align: center;
    }
}
*/
.all{
    margin-top: 150px;
}
.custom-text{
    font-size: 24px;
    text-align:center;
    background-color: #0099cb;
    color: #fff;
    
    margin-left:18px;
}
.content {
    background-color:rgba(0, 0, 0, 0.65);
    width: 88%;
    margin-left: 17px;
    height: 100%;
/*    opacity: 0.2;*/
    top: -100%;
    transition: 0.3s ease-in-out;
}
.content h2{
    position: absolute;
    top: 27%;
    padding: 10px;
    text-align: center;
/*    left: 3%;*/
    font-size: 28px;
    color: #fff;
}
.custom-div{
    overflow: hidden;
}

.custom-btn{
    position: absolute;
    bottom: -15%;
    left: 38%;
    transition:all 0.5s ease-in-out;
    border-radius: 0;
    width: 120px;
    height: 45px;
    font-size: 19px;
    background-color: #fff;
    text-transform: capitalize;
}
.custom-div:hover .content{
    top: -16%;
}

.custom-div:hover button{
    bottom: 30%;
    left: 38%;
    transition-delay: 0.2s;
}

.custom-div:hover .custom-text{
    opacity: 0;
}
.custom-btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.custom-size{
    font-size: 20px;
}
.custom-size2{
    font-size: 19px;
}